.map {
    /* margin-top: 167px; */
    background-color: white;
    height: 400px;
    width: 100%;
    position: static;
}

.idk {

    background-color: blue;
    height: 400px;
    width: 100%;
    position: static;
   
}


